.App {
  font-size: 12px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  text-align: center;
}

.App-intro {
  font-size: large;
  text-align: center;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.suggestion-container {
  padding: 15px;
  width: 400px;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;

    li {
      box-sizing: border-box;
      height: 28px;
      padding: 8px;
      user-select: none;

      &:hover {
        cursor: pointer;
        background-color: #EAF6E2;
      }
    }
  }
}
